﻿<form id="frmBusquedaPelicula">
    <div class="card text-bg-dark mb-3" style="width: 700px">
        <div class="card-header">
            <div class="d-flex">
                Consulta de Pelicula
                <div class="ms-auto">
                    <button type="button" data-form="busqueda_pelicula" class="btn-close btn-close-white"></button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-dark table-hover" id="tblConsultaPeliculas">
                <thead>
                    <tr>
                        <th>TITULO</th>
                        <th>AUTOR</th>
                        <th>SIPNOSIS</th>
                        <th>DURACION</th>
                        <th>CLASIFICACION</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</form>
<script>
    listarPeliculas();
    async function listarPeliculas() {
        const respuesta = await fetch('/api/Peliculas'),
            peliculas = await respuesta.json();
        let filas = "";
        peliculas.forEach(pelicula => {
            filas += `
                <tr onclick='modificarPelicula(${JSON.stringify(pelicula)})'>
                    <td>${pelicula.titulo}</td>
                    <td>${pelicula.autor}</td>
                    <td>${pelicula.sinopsis}</td>
                    <td>${pelicula.duracion}</td>
                    <td>${pelicula.clasificacion}</td>
                    <td><button class="btn btn-danger" onClick='eliminarpelicula(${JSON.stringify(pelicula)}, event)'>DEL</button></td>
            `;
        });
        $("#tblConsultaPeliculas > tbody > tr").remove();
        $("#tblConsultaPeliculas > tbody").append(filas);
    }
    async function eliminarPelicula(pelicula, e) {
        e.preventDefault();
        if (confirm(`Esta seguro de eliminar a ${pelicula.titulo.trim()}?`)) {
            const respuesta = await fetch(`https://localhost:7130/api/peliculas/${pelicula.idPeliculas}`, {
                method:"DELETE",
                headers: {
                    "Content-Type": "application/text"
                }
            }), datos = await respuesta.text();
            if (datos && datos.length > 0) {
                consol.error(datos);
            } else {
                listarPeliculas();
            }
        }
    }
</script>